* text=auto eol=crlf

*.php text eol=crlf
*.blade.php text eol=crlf
*.js text eol=crlf
*.css text eol=crlf
*.html text eol=crlf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
